{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  // 1 == Warning
  // 2 == Error
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "prefer-template": 1
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["lib", "bin", "test"]
      }
    }
  }
}
